//- Include all common mixins
include ../../templates/common.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(title="IEEE - IIITD Delhi")

		// Styles
		link(rel="stylesheet" href="/assets/css/index.css")

	body

		+nav()

		main

			section#head

				.content

					h1 <span>Learn.</span> <span>Grow.</span> <span>Inspire.</span>

					h2 IEEE IIIT Delhi Student Branch

					p Our student branch has embraced excellence and even in the years to come, IEEE SB IIITD will continue to create outstanding students, young engineering professionals with a responsibility to advance technology for humanity, moulding ethical and capable leaders for a bright tomorrow.

			section#cards

				.gallery

					.card

						h1 Technology

						p Keeping in line with the first half of the IEEE tagline of "Advancing Technology ... ", we strive to develop core skills in all our members and provide them with access to the technical research and knowledge.

					.card

						h1 QS India Rankings 2020

						p IIIT-Delhi ranked at position 41 in the annual university rankings India by Quacquarelli Symonds (QS) released. This is a progress of 7 positions compared to the previous year's rank of 48.

					.card

						h1 Collaboration

						p Fostering collaboration and networking is vital to our ultimate goal. Here, we believe that the synergy created through cooperation and partnership, outweighs the merits of any personal accomplishment.

				.hr

			section#about-ieee

				.content

					h1 About IEEE

					p IEEE is the <span class='highlight'>world’s largest technical professional organization</span> dedicated to advancing technology for the benefit of humanity.

					p IEEE and its members inspire a global community to innovate for a better tomorrow through its <span class='highlight'>more than 4,23,000 members in over 160 countries</span>, and its highly cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing, and technology information around the globe.

			section#about-us

				.background

				.content

					h1 About Us

					p Our student branch has embraced excellence and even in the years to come, IEEE SB IIITD will continue to create outstanding students, young engineering professionals with a responsibility to advance technology for humanity, moulding ethical and capable leaders for a bright tomorrow.

			section#representatives

				.content

					h1 IEEE IIIT Delhi Representatives

					.gallery

						each person in people.representatives
							.card
								img(src="/assets/img/people/"+person.name.split(" ")[0].toLowerCase()+".jpg")
								p.name !{person.name}
								p.role !{person.role}
								p.from IEEE, IIIT Delhi

			section#sadda-hack

				.content

					h1 Sadda Hack '20

					h2 27<sup>th</sup> to 28<sup>th</sup> March, 2020

					p Brace yourselves for one of the biggest hackathons you have ever witnessed! IEEE Student Chapter of IIIT-Delhi proudly presents before you <strong>Sadda Hack</strong> -- it’s first ever national-level inter college Software-cum-Hardware Hackathon from <span class="highlight">27<sup>th</sup> to 28<sup>th</sup> March, 2020</span>.

					p IEEE IIIT-Delhi seeks to harness the boundless talent of young engineering professionals who have an untiring zeal to innovate, create and design new technologies for a brighter future.

					p.queries For queries, contact:

					ul

						li Sarthak Chandra: <a href="mailto:sarthak19203@iiitd.ac.in">sarthak19203@iiitd.ac.in</a>, <a href="tel:+918527487150">+918527487150</a>
						li Gitansh Raj Satish: <a href="mailto:gitansh19241@iiitd.ac.in">gitansh19241@iiitd.ac.in</a>, <a href="tel:+919718686424">+919718686424</a>

		//- Footer
		+footer()
