@require "../../stylesheets/base"
@import "../../stylesheets/nav"
@import "../../stylesheets/footer"

body
	background-image: url("/assets/img/bg.jpg")
	background-attachment: fixed
	background-size: cover
	background-position: center
	background-repeat: no-repeat

main
	background-color: #000000ff
