//- Include all common mixins
include ../../templates/common.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(title="Contact · IEEE - IIITD Delhi")

		// Styles
		link(rel="stylesheet" href="/assets/css/contact.css")

	body

		+nav()

		main

			section

				.content

					h1 Contact us

					h2 Details

					.detail
						h3 Address
						h4 IIIT Delhi
						p Okhla Industrial Estate, Phase III, near Govind Puri Metro Station, New Delhi, Delhi 110020

					.detail
						h3 Mail
						h4
							a(href="mailto:ieee@iiitd.ac.in") ieee@iiitd.ac.in
						p Send us your query anytime!

					.hr

					h2 Form

					form(name="contact" method="POST" action="https://formspree.io/ieee@iiitd.ac.in")

						div

							label(for="contact-form_name") Name
							input(name="name" type="text" placeholder="Enter your name" id="contact-form_name" required)

							label(for="contact-form_email") Email
							input(name="email" type="email" placeholder="Enter your email" id="contact-form_email" required)

							label(for="contact-form_subject") Subject
							input(name="subject" type="text" placeholder="Enter subject" id="contact-form_subject" required)

						div

							label(for="contact-form_message") Message
							textarea(name="message" placeholder="Enter your message" id="contact-form_message" required)

							input(type="submit" value="Send message")

					.hr

					h2 Map

					div.map-wrap
						iframe#gmap_canvas(src="https://maps.google.com/maps?q=IIIT%20Delhi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0")

		//- Footer
		+footer()

	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA")
