//- Include all common mixins
include ../../templates/common.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(title="Gallery · IEEE - IIITD Delhi")

		// Styles
		link(rel="stylesheet" href="/assets/css/gallery.css")

	body

		+nav()

		main

			section

		//- Footer
		+footer()
