//- Common mixins, to be included in all files
- const {people} = htmlWebpackPlugin.options;

//- Head generator mixin
include ./head.pug

//- Navigation
include ./nav.pug

//- Footer
include ./footer.pug
